<div class="header-container">
  <div class="header-title">
      <img src="/assets/aether.png" alt="aether">
    <!-- <h2>Aether</h2> -->
  </div>
  <div class="control-panel">
    <div class="control-panel-name">
      <%= userEmail %>
    </div>
    <div class="control-panel-button">
    <form action="/" method="post">
      <button id="logout-botton" type="submit">Logout</button>
    </form>
    </div>
  </div>
</div>
