<div class="side-panel">
<div id="inbox-button" class="side-panel-button">
  <a href="/inbox">Inbox</a>
</div>
<div id="outbox-button" class="side-panel-button">
  <a href="/outbox">Outbox</a>
</div>
<div id="compose-button" class="side-panel-button">
  <a href="/compose">Compose</a>
</div>
</div>
