@import "../const.css";
@import "./header.css";
@import "./sidepanel.css";
@import "./pagination.css";
body {
  display: flex;
  flex-direction: column;
  align-content: start;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email-object {
  display: flex;
  justify-content: space-evenly;
  border: 3px solid salmon;
  border-radius: 5px;
  margin-bottom: 0.2rem;
  background: var(--hl-bg);
}


.email-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  flex: 1 80%;
}

.email-info.notread div p{
  font-weight: bold;
}

.email-left {
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 80%;
}
.email-right {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  flex-wrap: nowrap;
}

#delete-button {
  margin-bottom: 0.4rem;
  border: 3px solid red;
  border-radius: 5px;
  padding: 0.5rem;
}

.email-checkbox {
  margin: 0.4rem;
  width: 1.5rem;
}
