.side-panel {
  border: 3px solid coral;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  border-radius: 5px;
  background: var(--color1);
  padding: 0.5rem;
  flex: 1 20%;
}

.side-panel-button {
  /* border: 1px solid teal; */
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  text-align: left;
  display: flex;
}

.side-panel-button:hover {
  background: var(--hl-bg);
}
.side-panel-button a {
  flex: 1 100%;
  padding: 5px;
  width: auto;
}
