<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
  <link href="/assets/auth.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="auth-header">
    <img src="assets/aether.png" alt="mail man">
  </div>
  <div class="auth-container">
    <div class="auth-title">
    </div>
  </div>

  <body>

</html>