<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/inbox.css" rel="stylesheet" type="text/css">
        <script src="/assets/script.js"></script>
        <title>Aether - Inbox</title>
    </head>
    <body>
        <%- include('partials/home', {'userEmail': userEmail, 'messages': messages, 'name': 'inbox'}) %>
        <%- include('./partials/pagination', {'currentPage': currentPage, 'totalPages': totalPages, 'name': 'inbox'}) %>
    </body>
</html>
