 <h1>Login to Mail Man</h1>
 <form action="/login" method="post">
  <div class="container">
    <div>
    <label for="uname"><b>Email:</b></label>
    </div>
    <div>
    <input type="text" placeholder="Enter Email" name="email" required> </div>
    </div>
    <div>
    <label for="psw"><b>Password:</b></label>
    </div>
    <div>
    <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
    <div>
    <button type="submit">Login</button>
    </div>
  </div>
</form> 
