<div class="side-panel">
<div class="side-panel-button">
  <a href="/inbox">Inbox</a>
</div>
<div class="side-panel-button">
  <a href="/outbox">Outbox</a>
</div>
<div class="side-panel-button">
  <a href="/compose">Compose</a>
</div>
</div>
