@import "const.css"; 

.auth-header {
  margin: 2rem;
}

.auth-header img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
}

.auth-title h4{
  font-weight: normal;
  color: lightcoral;
}

.auth-container {
  padding: 20px;
  background: var(--hl-bg);
  margin: 0 auto;
  width: 550px;
  /* text-align center; */
  font-weight: bold;
  box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  border-radius: 5px;
}

.prompt-container {
  margin: 5px;
  margin-bottom: 1rem;
}

.prompt-container input {
  width: 500px;
  padding: 10px;
  border: 2px solid coral;
  border-radius: 5px;
}

.prompt-container button {
  width: 500px;
  padding: 10px;
  text-align: center;
  background: coral;
  border-radius: 5px;
  cursor: pointer;
}

.login-or-regis p {
  font-weight: normal;

}

.alternate-auth {
  color: lightcoral;
}

#aether {
  font-style: italic;
  font-weight: bold;
}

