@import "const.css";
@import "partials/header.css";
@import "partials/sidepanel.css";

#compose-button {
  background: var(--hl-bg);
}

.compose-container {
  border: 2px solid lightcoral;
  border-radius: 5px;
  padding: 0.5rem;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.prompt-container {
  margin-bottom: 0.5rem;
}

.prompt-container select,
.prompt-container textarea,
.prompt-container input {
  border: 2px solid coral;
  border-radius: 5px;
  padding: 0.3rem;
}

.prompt-container textarea {
  width: 100%;
}

.prompt-container button {
  margin-top: 0.4rem;
}
