@import "const.css";

.regis-container,
.login-container {
  padding: 20px;
  background: #ffffff;
  margin-left: 30%;
  width: 550px;
  /* text-align center; */
  font-weight: bold;
  box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 9px 28px -5px rgba(0, 0, 0, 0.51);
  border-radius: 5px;
}

.prompt-container {
  margin: 5px;
}

.prompt-container input {
  /* text-align: left; */
  width: 500px;
  padding: 10px;
}

.prompt-container button {
  width: 500px;
  padding: 10px;
  text-align: center;
}

.login-title {
  /* margin-left: 30%; */
}

.regis-header img,
.login-header img {
  width: 80px;
  border-radius: 5px;
  margin-left: 5%;
}
